#banner
  .banner_content
    %h1 NoteNote
    %p Your online notebook. Never forget and idea again
    %button= link_to 'Sign Up', new_user_registration_path

#testimonial
  .wrapper
    %p.quote "The greatest notebook app"
    %p.name - Igor Kamrakov
#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Notes
        %p Tilde tumblr helvetica, drinking vinegar cray church-key heirloom raw denim locavore chillwave portland 8-bit normcore austin.
      .callout
        %h2 Rocket
        %p Tilde tumblr helvetica, drinking vinegar cray church-key heirloom raw denim locavore chillwave portland 8-bit normcore austin. 
      .callout
        %h2 Lightning
        %p Tilde tumblr helvetica, drinking vinegar cray church-key heirloom raw denim locavore chillwave portland 8-bit normcore austin. 

#bottom_cta
  .wrapper
    %h2 For realz!
    %p I want you to sign up
    %button= link_to "Click Me!!", new_user_registration_path

%footer
  %p &copy; Igor Kamrakov
